body{
    background-color: #D9CDF7;
    h1{
        margin: 10px 0px;
        font-family: "Crimson Pro", serif;
        font-size: 64px;
        color: #271A45;
    }
    
    h2{
        margin: 0px 0px;
        font-family: "Lato", sans-serif;
        color: #271A45;
        font-size: 32px;
    }
    
    p{
        margin: 0px;
        font-family: "Lato", sans-serif;
        color: #271A45;
        font-weight: 300;
        font-size: 20px;
    }

}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.img-holder{
    display: flex;
    flex-direction: column;
    align-items: end;

    button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        img{
            width: 60px;
        }
    }
}

.sofa{
    width: 600px;
}

.description-holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button{
        background-color: transparent;
        border: 1px solid #271A45;
        border-radius: 999px;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        color: #271A45;
        padding: 16px 32px;
        margin: 30px 0px;
        cursor: pointer;
        transition: 0.15s ease-in-out color, 0.15s ease-in-out background-color;
    }

    button:hover{
        color: #f2f2f2;
        background-color: #271A45;
    }
}